* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(251, 253, 253);
}

.form-wrapper {
  font-family: sans-serif;
  text-align: center;
  padding: 60px;
}

.form-wrapper h2 {
  font-size: 30px;
  font-family: Helvetica;
}

.form-wrapper form {
  margin: 0 auto;
  border: 2px solid;
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  padding: 10px;
  font-size: 20px;
  font-family: cursive;
}

.mt4 {
  display: flex;
}
